<dialog #editModal class="modal">
  <div class="modal-box">
    <h3 class="font-bold text-lg text-center mb-5">Edit your note</h3>
    <form class="w-full space-y-4" *ngIf="editedNote">
      <input
        type="text"
        placeholder="Title"
        name="title"
        [(ngModel)]="editedNote.title"
        class="input input-bordered w-full"
      />
      <textarea
        name="content"
        class="textarea textarea-bordered w-full"
        [(ngModel)]="editedNote.content"
        placeholder="Content"
      ></textarea>
    </form>
    <div class="modal-action">
      <div class="modal-action">
        <button class="btn btn-success text-white" (click)="saveChanges()">
          Save
        </button>
        <button class="btn btn-error text-white" (click)="closeModal()">
          Close
        </button>
      </div>
    </div>
  </div>
</dialog>
