<section
  class="mt-10 grid md:grid-cols-2 xl:grid-cols-4 gap-4 max-w-5xl mx-auto px-4"
>
  <div class="card w-60 bg-base-100 shadow-md" *ngFor="let note of notes">
    <div class="card-body">
      <h2 class="card-title">{{ note.title }}</h2>
      <p>{{ note.content }}</p>
      <div class="card-actions justify-end gap-x-3">
        <button class="btn btn-square btn-sm btn-info" (click)="editNote(note)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-pencil"
          >
            <path d="M17 3a2.85 2.83 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5Z" />
            <path d="m15 5 4 4" />
          </svg>
        </button>
        <button
          class="btn btn-square btn-sm btn-error"
          (click)="deleteNote(note.id)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-trash"
          >
            <path d="M3 6h18" />
            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <app-modal />
</section>
